*{
    margin: 0;
    padding: 0;
    text-align: center;
}




header {
    background-color: lightgray;
    height: 5%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
}

.logo {
    position: fixed;
    left: 5%;
    margin-top: 0;
}

.header_links {
    display: flex;
    justify-content: space-between;
    width: 25%;
    position: absolute;
    right: 5%;
}

.home_title {
    text-align: center;
    font-size: 75px;
}

.main_background {
    background: url('./images/Main-Background.jpg') no-repeat center center fixed;
    color: gray;
}

.L1M {
    background: url('./images/Level1Main.jpg') no-repeat center center fixed; 
}

.L1L {
    background: url('./images/Level1Left.jpg') no-repeat center center fixed; 
}

.L1R {
    background: url('./images/Level1Right.jpg') no-repeat center center fixed; 
}

.L2M {
    background: url('./images/Level2Main.jpg') no-repeat center center fixed;
}

.L2L {
    background: url('./images/Level2Left.jpg') no-repeat center center fixed;
}

.L2R {
    background: url('./images/Level2Right.jpg') no-repeat center center fixed;
}

.switch_to_lever {
    height: 25%;
    width: 8%;
    position: absolute;
    bottom: 25%;
    right: 39%;
    border-radius: 25%;
}

.switch_to_lever:hover {
    opacity: 0.1;
    background-color: seashell;
}

.lever_off {
    background: url('./images/LeverOff.jpg') no-repeat center center fixed; 
}

.lever_on {
    background: url('./images/LeverOn.jpg') no-repeat center center fixed; 
}

.turn_lever_on {
      height: 12%;
      width: 2%;
      position: absolute;
      bottom: 65%;
      right: 47%;
      border-radius: 25%;
}

.turn_lever_on:hover {
    opacity: 0.1;
    background-color: seashell;
}

.switch_to_chest {
    height: 50%;
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 15%;
    border-radius: 25%;
}

.switch_to_chest:hover {
    opacity: 0.1;
    background-color: seashell;
}

.closed_chest {
    background: url('./images/Chest.jpg') no-repeat center center fixed; 
}

.switch_to_drawer {
    height: 10%;
    width: 5%;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 25%;
}

.switch_to_drawer:hover {
    opacity: 0.1;
    background-color: seashell;
}

.switch_to_no_key {
    height: 12%;
    width: 12%;
    position: absolute;
    left: 34%;
    top: 50%;
    border-radius: 25%;
}

.switch_to_no_key:hover {
    opacity: 0.1;
    background-color: seashell; 
}

.key {
    background: url('./images/Key.jpg') no-repeat center center fixed; 
}

.no_key {
    background: url('./images/NoKey.jpg') no-repeat center center fixed; 
}

.switch_to_success {
        height: 4%;
        width: 2%;
        position: absolute;
        left: 70%;
        top: 55%;
        border-radius: 25%;
}

.switch_to_success:hover {
    opacity: 0.1;
    background-color: seashell; 
}

.room_changer_left {
    height: 100%;
    width: 4%;
    position: absolute;
    left: 0;
}

.room_changer_right {
    height: 100%;
    width: 4%;
    position: absolute;
    right: 0;
}


.room_changer_left:hover {
    opacity: 0.1;
    background-color: seashell;
}

.room_changer_right:hover {
    opacity: 0.1;
    background-color: seashell;
}

.level_select {
    display: flex;
    flex-direction: column;
}

.inventory {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    background-color: white;
}

.level_background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 5%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%; 
    width: 100%;
    }





.link_normalizer {
    color: black;
    text-decoration: none;
}

.link_normalizer_level {
    color: gray;
    text-decoration: none;
}

.box {
    background-color: gray;
    width: 25%;
    height: 25%;
    position: absolute;
    left: 37.5%;
    top: 25%;
    border-radius: 10%;
}

.center {
    position: absolute;
    left: 20%;
    top: 25%;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.items {
    background-color: gray;
    width: 10%;
    border-radius: 25%;
}

.level_select_box {
    background-color: white;
    color: gray;
    position:absolute; 
    top: 10%;
    left:45%;
    border-radius: 25%;
    width: 15%; 
    padding: 2%;
}

@media (max-width: 1000px) {
    .header_links {
        width: 50%;
    }

    .home_title  {
        text-align: center;
        font-size: 50px;
    }

    .switch_to_lever {
        bottom: 35%;
        height: 15%;
    }

    .switch_to_chest {
        bottom: 20%;
        height: 30%;
    }

    .switch_to_no_key {
        top: 45%;
    }

    .switch_to_success {
        top: 50%;
    }

    .center {
        left: 3%;
    }
}



@media (max-width: 500px) {
    header {
        height: 10%;      
    }

    .header_links {
        width: 25%;
        display: flex;
        flex-direction: column;
        right: 1%;
    }

    .logo {
        font-size: 40px;
    }

    .home_title {
        margin-top: 5%;
    }

    .box {
        width: 50%;
    }

    .level_select_box {
        width: 50%;
        left: 25%;
    }

    .switch_to_lever {
        bottom: 38%;
        right: 30%;
        height: 15%;
        width: 15%;
    }

    .turn_lever_on {
        height: 5%;
        bottom: 60%;
    }

    .switch_to_chest {
        bottom: 20%;
        height: 30%;
        width: 40%;
        right: 0;
    }

    .switch_to_drawer{
        height: 5%;
    }

    .switch_to_no_key {
        top: 45%;
        height: 5%
    }

    .switch_to_success {
        top: 51%;
        left: 90%;
        height: 2%;
    }

    .items {
        width: 20%;
    }

    .success {
        margin-top: 10%;
    }
}